**Data visualization Using Seaborn**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Datas
x = [1, 2, 3, 4, 5]
y = [3, 6, 2, 7, 1]

In [ ]:
# Create line plot using seaborn

In [ ]:
x = [1, 2, 3, 4, 5]
y1 = [3, 5, 2, 6, 1]
y2 = [1, 6, 4, 3, 8]
y3 = [5, 2, 7, 1, 4]

In [ ]:
# implement line plot and include all the necessary parameters
plt.figure(figsize=(8,5))
sns.lineplot(x=x, y=y1, marker='o', label='Line 1')
sns.lineplot(x=x, y=y2, marker='s', label='Line 2')
sns.lineplot(x=x, y=y3, marker='^', label='Line 3')
plt.xlabel('X-axis')
plt.ylabel('Y-axis')
plt.title('Line Plot Example')
plt.legend()
plt.show()

**Bar Plot - Seaborn**

In [ ]:
tips = sns.load_dataset('tips')

In [ ]:
# Implement Bar plot with hue parameter
plt.figure(figsize=(8,5))
sns.barplot(x='day', y='total_bill', data=tips, hue='sex', palette='pastel')
plt.xlabel('Day')
plt.ylabel('Total Bill')
plt.title('Total Bill by Day and Gender')
plt.show()
# Set labels and title

In [ ]:
# Include titanic dataset
tit=pd.read_csv("/content/titanic_dataset.csv")
tit

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='Embarked', y='Fare', data=tit, palette='rainbow')
plt.title("Fare of Passenger by Embarked Town")
plt.show()
# Implement barplot using seaborn and set x='Embarked',y='Fare',data=tit, palette='rainbow' and set graph title as "Fare of Passenger by Embarked Town"

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='Embarked', y='Fare', data=tit, palette='rainbow', hue='Pclass')
plt.title("Fare of Passenger by Embarked Town, Divided by Class")
plt.show()
# Implement barplot using seaborn and set x='Embarked',y='Fare',data=tit, palette='rainbow',hue='Pclass' and set graph title as "Fare of Passenger by Embarked Town, Divided by Class"

In [ ]:
import seaborn as sns
# using tips dataset implement Scatter plot of total bill vs tip amount

# Set labels and title
plt.xlabel('Total Bill')
plt.ylabel('Tip Amount')
plt.title('Scatter Plot of Total Bill vs. Tip Amount')

**VIOLIN PLOT**

In [ ]:
# implement violinplot by comparing any two values from titanic data set
plt.figure(figsize=(8,5))
sns.violinplot(x='Pclass', y='Fare', data=tit, palette='Set2')
plt.title('Violin Plot of Fare by Passenger Class')
plt.show()

**HISTOGRAM**

In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd

In [ ]:
np.random.seed(0)
marks = np.random.normal(loc=70, scale=10, size=100)

In [ ]:
# Generating dataset of random numbers
np.random.seed(1)
num_var = np.random.randn(1000)
num_var = pd.Series(num_var, name = "Numerical Variable")
num_var

In [ ]:
# IMPLEMENT HISTOGRAM
plt.figure(figsize=(8,5))
sns.histplot(marks, kde=True, color='skyblue', bins=15)
plt.xlabel('Marks')
plt.ylabel('Frequency')
plt.title('Histogram of Marks')
plt.show()

In [ ]:
# IMPLEMENT histplot in seaborn and set parameters data=df,x=Pclass,hue=Survived,kde=True
# Histogram for Titanic dataset: Pclass vs Survived
plt.figure(figsize=(8,5))
sns.histplot(data=tit, x='Pclass', hue='Survived', multiple='stack', kde=True, palette='Set1')
plt.title('Histogram of Pclass Divided by Survived')
plt.show()